<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h2>Test</h2>

    <h2>Seleziona la path</h2>
    <input type="text" id="path" value="download.png">
    <button onclick="openMedia()">Visualizza immagine (only png or jpeg)</button>
    <img src="" alt="" id="image">
    <script src="https://bundle.run/buffer@6.0.3"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        const AUTH_TOKEN = '<%= token %>'
        // console.log(  AUTH_TOKEN )
        axios.defaults.headers.common['Authorization'] = AUTH_TOKEN;
        const openMedia = () => {
            const path = document.getElementById('path').value
            axios.get(`https://graph.microsoft.com/v1.0/drive/root:/${path}:/content`,{ 
              responseType: 'arraybuffer' 
            })
                .then((res)=> {
                    const lol = 'data:image/jpg;base64,'+new buffer.Buffer(res.data).toString('base64')
                    console.log(lol)
                    document.getElementById('image').setAttribute('src',lol)
                })
        }
    </script>
</body>
</html>